/**
 * Theme: Light
 * Type: light
 * ID: light
 * Generated on: 2025-08-14T14:48:34.191Z
 */

:root {
  --background: #EFEFEF;
  --background-muted: #f9fafb;
  --background-subtle: #f3f4f6;
  --background-emphasis: #e5e7eb;
  --background-test: #6b7280;
  --background-hello: #10b981;
  --background-page: #FCFBF7;
  --foreground: #090203;
  --foreground-muted: #64748b;
  --foreground-subtle: #9ca3af;
  --foreground-emphasis: #84A5D2;
  --foreground-chat: #fcfbf7;
  --card: #ffffff;
  --card-foreground: #111827;
  --popover: #ffffff;
  --popover-foreground: #111827;
  --text: #090203;
  --text-muted: #64748b;
  --muted: #f3f4f6;
  --muted-foreground: #64748b;
  --accent: #f3f4f6;
  --accent-foreground: #111827;
  --destructive: #ef4444;
  --destructive-foreground: #f9fafb;
  --border: #e5e7eb;
  --border-muted: #f3f4f6;
  --border-emphasis: #d1d5db;
  --border-focus: #3b82f6;
  --input: #e5e7eb;
  --ring: #9ca3af;
  --chart-1: #6b93c8;
  --chart-2: #60a5fa;
  --chart-3: #fbbf24;
  --chart-4: #34d399;
  --chart-5: #f87171;
  --sidebar: #f9fafb;
  --sidebar-foreground: #111827;
  --sidebar-primary: #111827;
  --sidebar-primary-foreground: #f9fafb;
  --sidebar-accent: #f3f4f6;
  --sidebar-accent-foreground: #111827;
  --sidebar-border: #e5e7eb;
  --sidebar-ring: #9ca3af;
}
